body{
	font-family: sans-serif;
}
.main{
	
	background:url(../img/lesson3.background.png); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;

	

	
}

.main{
	width: 100%;
	position: absolute;
}

.header-logo{
	padding-top: 20px;
	margin-right: 40px;
	margin-bottom: 25px;
}

.main_h{
	padding-top: 20px;
	margin-right: 460px;
	margin-bottom: 25px;
	color:rgb(255,255,255);
}
.header-contact{
	padding-top: 20px;

}
.header-contact-text{
	color: #ffff;
}
.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;

}
.content{
	width: 1100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:0 auto;
	margin-left: 20px;

}
.tour{
	flex-basis: 33%;
	margin-bottom: 100px;
}

.tour-description:hover{
	color: rgb(161,28,52);
	
}
.tour-description{
	text-align: center;
	color: rgb(255,255,255);
	margin-top: 20px;
}
.copyright{
	color: #ffff;
	font-size: 12px;
	
}
.baground_orang{
	background: rgb(252,177,58);
	border: 1px solid rgb(252,177,58);
	width: 308px;
	padding-top: 50px;
	position: relative;
	bottom: 90px;
	opacity: 0;
}
.baground_orang:hover{
	background: rgb(252,177,58);
	border: 1px solid rgb(252,177,58);
	width: 308px;
	padding-top: 50px;
	position: relative;
	bottom: 95px;
	opacity: 1;
}

