* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.logo{
	font-family: font-family: 'Marko One', serif;
	font-size: 80px;
	color:rgb(75,202,255);
}
.logo span{
	color: #000;
}
.header_menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	background: rgb(53,68,79);
	padding-top: 25px;
	padding-bottom: 25px;
	
}

.list_header_menu{
	font-size: 24px;
	color: #ffff;
	text-decoration: none;
}
.list_header_menu:hover{
	
	background: rgb(34,47,58);
	box-shadow: 0 0 0 25px rgb(34,47,58);
	width:23%;
	height: 100%;
	max-height: 50px;
	color:#ffff;
	text-decoration: none;
	text-align: center;
}
.list_header_menu:nth-child(2):hover{
	width: 7%;
}
.list_header_menu:nth-child(3):hover{
	width: 18%;
}
.list_header_menu:nth-child(4):hover{
	width: 13%;

}
.main_infom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}
.first_infom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 50px;
	border: 2px solid grey;
	margin-bottom: 100px;
}
.list_main_inform{
	padding: 33px 45px;
	width: 340px;
	color:rgb(0,0,0);

}
.list_main_inform:hover{
	background: grey;
	width: 100%;
	max-width: 340px;
	height: 100%;
	max-height: 90px;
	color: rgb(0,0,0);
	text-decoration: none;
	font-size: 25px;
}
.inform_img{
	border: 2px solid grey;
	margin-top: 50px;
	width: 883px;
	margin-left: 20px;
}
.inform_img img{
	padding:70px 200px 70px 180px;
}
.inform_text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 36%;
}
.inform_text1{
	margin-top: 50px;
	margin-bottom: 50px;
}
.footer{
	background: rgb(180,183,186);
	padding: 20px 45px;
	margin: 50px 0 50px;
}
.footer_menu{
	color: rgb(0,0,0);
	font-size: 22px;
	margin-left: 15px;
}
.copyright{
	display:inline-block;
	color: rgb(0,0,0);
	margin-left: 200px;	
}